# SO / cachés
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.code-workspace

# Logs/temp
*.log
*.tmp

# Python
__pycache__/
.venv/
*.py[cod]

# Node
node_modules/
dist/
.build/
.env

# Java/Gradle
target/
build/
*.class
.gradle/
.out/

# Otros
coverage/

