version: "3.9"

services:
  web:
    build: .
    container_name: smartcar-backend
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - db

  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: smartcar-sqlserver
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=TuPasswordSuperSegura123!
      - MSSQL_PID=Express
    ports:
      - "1433:1433"
